<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
        <link rel="shortcut icon" href="{{ site.github.url }}/assets/img/logo.svg" />
    </head>
    <body id="bg" class="fade-bg">
      <div class="outer-container">
        {{ content }}
      </div>
    </body>
</html>
